body{

  background: url(./coffee.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Hachi Maru Pop', cursive , bold;


}

.rowHeight{

height: 500px;


}

.bg{
 background-color: #c1c1c1;
 opacity: 0.8;

}

.Img_1{

   height: 150px;

}

.footer{

background-color: #fff;
position: fixed;
bottom: 0;
}

p{
  font-size: 18px;
  padding: 10px;

}